@page "/UserInformation"

<PageTitle>Info</PageTitle>
<h3>Info</h3>

<div class="row content">
    <div class="col-md-2">
        Firstname
    </div>
    <div class="col-md-4">
        <input class="form-control" />
    </div>
</div>
<div class="row content">
    <div class="col-md-2">
        Surname
    </div>
    <div class="col-md-4">
        <input class="form-control" />
    </div>
</div>
<div class="row content">
    <div class="col-md-2">
        Nicname
    </div>
    <div class="col-md-4">
        <input class="form-control" />
    </div>
</div>

@code {

}
